*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
}

h1,
h2,
h3 {
    margin: 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

header {
    background-color: black;
}

.header-content {
    font-size: 11px;
    line-height: 15px;
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
}

.navigation {
    list-style: none;
    display: flex;
}

.navigation_item {
    margin-right: 47px;
}

.navigation_item a {
    text-decoration: none;
    color: white;
}

.navigation_item a:hover {
    color: #E3B873;
}

.logo {
    color: #E3B873;
    text-transform: uppercase;
}

.number a{
    color: #E3B873;
    text-decoration: underline;
}

.button {
    padding-right: 90px;
    background-color: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 13px 33px;
    
}

.button a {
    text-decoration: none;
    font-style: italic;
    text-transform: uppercase;
    color: white;
}

.start {
    background-image: url(./images/image1.jpg);
    background-size: cover;
    height: 707px; 
    padding-top: 194px;
    position: relative;
}

.start::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
}

.start-content {
    max-width: 1171px;
    position: relative;
    z-index: 1;
}

.title {
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.city {
    color: #E3B873;
}

p {
    color: white;
    font-size: 22px;
    line-height: 36px;
    margin: 19px 0 ;
}

.buttons {
    justify-content: space-between;
    margin-right: 20px;
}

.button_item {
    width: 207px;
    height: 51px;
    outline: 0;
    font-style: italic;
    text-transform: uppercase;
    color: white;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    background-color: rgb(0, 0, 0, 0);
}

.button_item:hover {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
}

.projects-backgroud {
    background-color: black;
    padding-top: 107px;
    position: relative;
}

.projects {
    max-width: 1171px;
    height: 1074px; 
    display: flex;
    justify-content: space-between;
}

.title-projects {
    padding-top: 69px;
    padding-bottom: 34px;
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
}

.p-projects {
    margin: 0;
    margin-right: 50px;
    padding-bottom: 42px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
}

th {
    width: 190px;
    height: 22px;
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
    text-align: left;
}

td {
    height: 85px;
    padding-top: 9px;
    vertical-align: text-top;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}

.arrow-left {
    margin-right: 30px;
}
.arrow-right {
    margin-left: 12px;
}

.dots {
    display: flex;
    flex: row;
    align-items: center;
}

.dot {
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    margin-right: 18px;
}

.dot:hover {
    background: #FFFFFF;
}

.arrows {
    display: none;
}

.names {
    white-space: nowrap;
}

.names_item {
    margin-right: 60px;
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
}

.names_item:hover {
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    padding-bottom: 7px;
    border-bottom: 1px solid #E3B873;
    color: #E3B873;
}

.projects_img {
    margin-top: 45px;
    width: 679px;
    height: 482px;
    background-image: url(./images/image2-1.png);
    background-size: cover;
}

.control {
    width: 817px;
    height: 1103px;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: -315px;
    position: relative;
}

h3 {
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 13px;
    z-index: 1;
}

.icons {
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icon-img {
    width: 33px;
    height: 28px;
    margin: 0 8px;
}

.line {
    width: 32px;
    height: 2px;
    background: #E3B873;
    border-radius: 30px;
    justify-items: center;
}

.video {
    margin-top: 31px;
    margin-bottom: 63px;
    padding: 174px 365px;
    width: 817px;
    height: 434px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(./images/image3.png);
    background-size: cover;
}

.play-img {
    width: 28px;
    height: 28px;
}

.play-button {
    z-index: 1;
    width: 85px;
    height: 85px;
    padding: 29px;
    border-radius: 50%;
    background: #E3B873;
    box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
}

hr {
    width: 55px;
    height: 2px;
    background-color: #E3B873;
    border-radius: 30px;
    border-style: none;
    border-width: 0;
}

.p-control {
    padding-top: 35px;
    margin: 0;
    justify-content: center;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
}

.authorization {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
    margin-top: 92px;
}

.authorization-item {
    margin-left: 58px;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}

.authorization-input {
    border: 0;
    border-bottom: 231px;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
}

.authorization-input::placeholder {
    color: #363636;
}

.authorization-button {
    margin-left: 49px;
    width: 200px;
    height: 51px;
    background: #E3B873;
    box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 20px 75px;
    text-transform: uppercase;
    color: white;
}

.authorization-checkbox {
    margin-top: 39px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.checkbox_item {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox_item+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 1px;
    margin-right: 9px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.checkbox_item:checked+label::before {
    border-color: #E3B873;
    background-color: #E3B873;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.checkbox-label {
    margin-left: 9px;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #181818;
}

.types {
    width: 1440px;
    margin-top: 148px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.types-control {
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
    padding-bottom: 13px;
    z-index: 1;
}

.repairs {
    width: 1236px;
    margin-left: 103px;
    margin-top: 31px;
    display: flex;
    justify-content: space-between;
}

.repairs-info {
    width: 1236px;
    margin-left: 103px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.repairs-info_item {
    width: 330px;
    height: 286px;
    margin: -127px 31px 0;
}

.repairs-list {
    margin-bottom: -12px;
    padding: 25px 34px 49px;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    list-style-position: inside;
}

.repairs-list_item {
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}

.prices_item {
    width: 228px;
    height: 54px;
    background: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 17px 27px;
}

.request {
    width: 1440px;
    height: 725px;
    margin-top: 124px;
    display: flex;
    flex-direction: row;
    justify-self: start;
    justify-content: flex-start;
}

.description {
    width: 703px;
    height: 645px;
    margin-right: 131px;
    background-image: url(./images/image4.png);
    background-size: cover;
    display: flex;
    flex-direction: row;
}

.request-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 106px;
    width: 506px;
    height: 509px;
    background-color: #131313;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
}

.description_part1 {
    margin-top: 109px;
    margin-left: 249px;
    height: 490px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description_part2 {
    margin-top: 117px;
    margin-left: 9px;
    height: 472px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #363636;
}

.description-item {
    width: 50px;
    height: 50px;
    padding: 5px 5px 11px 4px;
    background: #E3B873;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 30px;
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}

.request-form_item {
    margin-top: 110px;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

.request-info {
    margin: 39px 49px 48px;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}

.request-info_item {
    width: 408px;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    background-color: rgb(0, 0, 0, 0);
}

.request-info_item::placeholder {
    color: #FFFFFF;
}

.request-button {
    margin-left: 244px;
    width: 213px;
    height: 51px;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    outline: 0;
    border: 0;
    padding: 18px 21px;
    text-transform: uppercase;
    color: white;  
}

.request-checkbox {
    margin: -32px 49px 39px;
    display: flex;
    flex-direction: row;
}

.req {
    margin-left: 9px;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
}

.sale {
    margin-left: 31px;
    width: 441px;
    height: 72px;
    margin-top: 65px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.piggy {
    margin-right: 25px;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: #E3B873;
}

.piggy-img {
    width: 40px;
    height: 33px;
    margin: 19px 16px;
}

.sale-info {
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}

.fantasies-background {
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(./images/fantasies.png);
    background-size: cover;
}

.fantasies {
    height: 864px;
    display: flex;
    flex-direction: row;
    margin-top: 242px;
    position: relative;
}

.fantasies_part1 {
    z-index: 1;
    width: 587px;
}

.title-fantasies {
    width: 411px;
    margin-top: 137px;
    margin-left: 100px;
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #E3B873;
}

.fantasies-list {
    list-style: none;
    padding: 0;
    margin: 47px 0 25px 100px;
}

.fantasies-list_item {
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    color: #FFFFFF;
}

.fantasies-list_item:hover {
    color: #E3B873;
    text-decoration: underline;
}

.fantasies-img_part1 {
    z-index: 1;
    width: 354px;
    margin: -42px 43px 0 77px;
}

.fantasies-img_part2 {
    z-index: 1;
    width: 354px;
    margin-top: -112px;
    margin-right: 102px;
}

.fantasies-img_item {
    margin-bottom: 39px;
}

.clients {
    margin-top: 111px;
    height: 996px;
    background-image: url(./images/Frame.png);
    background-size: contain;
}

.photo1 {
    width: 76px;
    height: 76px;
    border-radius: 50%;
    margin-top: 24px;
    margin-left: 21px;
    background-image: url(./images/client1.png);
}

.photo2 {
    width: 76px;
    height: 76px;
    border-radius: 50%;
    margin-top: 24px;
    margin-left: 21px;
    background-image: url(./images/client2.png);
}

.photo3 {
    width: 76px;
    height: 76px;
    border-radius: 50%;
    margin-top: 24px;
    margin-left: 21px;
    background-image: url(./images/client3.png);
}

.name {
    display: flex;
    flex-direction: row;
}

.name_item {
    width: 178px;
    margin-top: 41px;
    margin-left: 23px;
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #181818;
}

.p-clients {
    margin-top: 24px;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #363636;
}

.comments {
    width: 1236px;
    display: flex;
    flex-direction: row;
    margin-left: 103px;
    justify-content: space-between;
}

.comments_item {
    width: 376px;
    height: 428px;
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}

.p-comments {
    margin: 22px 31px 90px 20px;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color: #959595;
}

.comments-info_item {
    margin-top: -27px;
    width: 294px;
    height: 54px;
    background: #E3B873;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.comments-img {
    width: 32px;
    height: 32px;
    margin: 11px 15px 12px 17px;
}

.comments-meters {
    padding-right: 14px;
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.comments-line {
    height: 54px;
    border-right: 1px solid rgba(255, 255, 255);
}

.questions {
    width: 883px;
    height: 445px;
    background-color: #131313;
    margin-top: -223px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.questions_item {
    margin: 34px 313px 46px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.questions-box {
    width: 520px;
    margin-left: 181px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.questions-info {
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}

.questions-info_item {
    width: 231px;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    background-color: rgb(0, 0, 0, 0);
}

.questions-info_item::placeholder {
    color: #FFFFFF;
}

.questions-info1 {
    margin-left: 181px;
    margin-top: 49px;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}

.questions-info_item1 {
    width: 521px;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    background-color: rgb(0, 0, 0, 0);
}

.questions-info_item1::placeholder {
    color: #FFFFFF;
}

.questions-checkbox {
    margin-top: 46px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.quest {
    margin-left: 9px;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
}

.questions-button {
    margin-top: 50px;
    margin-left: 342px;
    width: 200px;
    height: 51px;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    outline: 0;
    border: 0;
    padding: 20px 54px;
    text-transform: uppercase;
    color: white;  
}

.map-background {
    background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url(./images/image5.png);
    background-size: cover;
}

.map {
    height: 954px;
    margin-top: -223px;
    display: flex;
    flex-direction: column;
}

.map-text {
    z-index: 1;
    margin-top: 275px;
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #E3B873;
}

.contact-links {
    margin-top: 26px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-links_item1 {
    z-index: 1;
    margin-right: 15px;
    margin-bottom: 43px;
    padding: 5px 6px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #E3B873;
}

.contact-links_item2 {
    z-index: 1;
    margin-right: 15px;
    margin-bottom: 43px;
    padding: 6px 7px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #E3B873;
}

.map-frame {
    width: 904px;
    height: 466px;
    margin-left: 268px;
}

footer {
    background-color: #131313;
}

.footer-content {
    font-size: 11px;
    line-height: 15px;
    display: flex;
    justify-content: space-between;
    height: 133px;
    align-items: center;
}

@media screen and (max-width: 1300px) {
    .container {
        max-width: 375px;
        margin: 0 auto;
    }

    .header-content {
        padding: 0 18px;
        font-size: 11px;
        line-height: 15px;
        display: flex;
        justify-content: space-between;
        height: 57px;
        align-items: center;
    }
    
    .navigation {
        display: none;
    }
    
    .logo {
        color: #E3B873;
        text-transform: uppercase;
    }
    
    .number a{
        color:#FFFFFF;
        text-decoration: none;
    }
    
    .button {
        display: none;
    }

    .start {
        background-image: url(./images/image1.jpg);
        background-size: cover;
        height: 476px; 
        padding-top: 85px;
        position: relative;
    }
    
    .start-content {
        max-width: 375px;
        padding: 0 18px;
        position: relative;
        z-index: 1;
    }
    
    .title {
        font-family: 'Yeseva One', 'Times New Roman', Times, serif;
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 31px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    p {
        font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #FFFFFF;
    }
    
    .buttons {
        display: flex;
        flex-direction: column;
    }
    
    .button_item {
        width: 339px;
        height: 51px;
        margin-bottom: 26px;
    }

    .projects-backgroud {
        background-color: #131313;
        padding-top: 36px;
        position: relative;
    }
    
    .projects {
        max-width: 375px;
        height: 727px; 
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        position: relative;
    }
    
    .projects_part1 {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .title-projects {
        padding-top: 0;
        padding-bottom: 22px;
        font-family: 'Yeseva One', 'Times New Roman', Times, serif;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 30px;
        letter-spacing: -0.07em;
        text-transform: uppercase;
        color: #E3B873;
    }
    
    .p-projects {
        margin-right: 0;
        padding: 0 32px 36px;
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 17px;
        text-align: center;
    }
    
    .table-projects {
        padding: 130px 16px 0;
    }

    th {
        width: 170px;
        height: 22px;
        font-family: 'Yeseva One', 'Times New Roman', Times, serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        text-transform: uppercase;
        color: #E3B873;
        text-align: left;
    }
    
    td {
        height: 75px;
        padding-top: 9px;
        vertical-align: text-top;
        font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 15px;
        color: #FFFFFF;
        text-align: left;
    }

    .dots {
        display: none;
    }

    .names_item {
        display: none;
    }
    
    .projects_part2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .projects_img {
        display: flex;
        width: 340px;
        height: 241px;
        margin-top: -537px;
        background-image: url(./images/image2.png);
        background-size: cover;    
    }

    .arrows {
        z-index: 2;
        width: 340px;
        padding: 124px 14px 0;
        display: flex;
        justify-content: space-between;
        margin: 0 18px;
    }

    .arrow {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background: #E3B873;
        transform: rotate(360deg);
        padding-top: 9px;
    }
    
    .control-background {
        background-color: #131313;
        margin-top: -1px;
    }
    
    .control {
        margin-top: -15px;
        width: 375px;
        height: 765px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    h3 {
        font-family: 'Yeseva One', 'Times New Roman', Times, serif;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        padding-bottom: 13px;
    }
    
    .icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .icon-img {
        width: 33px;
        height: 28px;
        margin: 0 8px;
    }
    
    .line {
        width: 32px;
        height: 2px;
        background: #E3B873;
        border-radius: 30px;
        justify-items: center;
    }
    
    .video {
        margin: 31px 18px 28px;
        padding: 85px 170px;
        width: 340px;
        height: 207px;
        background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(./images/image3.png);
        background-size: cover;
    }
    
    .play-img {
        width: 12px;
        height: 12px;
    }
    
    .play-button {
        width: 37px;
        height: 37px;
        padding: 9px 13px;
        border-radius: 50%;
        background: #E3B873;
        box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
    }
    
    hr {
        margin-top: 0;
        margin-bottom: 0;
        width: 55px;
        height: 2px;
        background-color: #E3B873;
        border-radius: 30px;
        border-style: none;
        border-width: 0;
    }
    
    .p-control {
        padding-top: 21px;
        margin: 0 18px;
        justify-content: center;
        font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
    }
    
    .authorization {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 61px;
        margin-left: 18px;
    }
    
    .authorization-item {
        margin-left: 0;
        padding-bottom: 63px;
        font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 21px;
        color: rgba(255, 255, 255, 0.5);
    }
    
    .authorization-input {
        border: 0;
        width: 340px;
        background-color: #131313;
        border-bottom: 1px solid rgba(255, 255, 255, 0.7);
        font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
    }
    
    .authorization-input::placeholder {
        color: #FFFFFF;
    }
    
    .authorization-button {
        margin-left: 0px;
        margin-top: 10px;
        width: 340px;
        height: 51px;
        background: #E3B873;
        box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
        border-radius: 2px;
        outline: 0;
        border: 0;
        padding: 20px 124px;
        text-transform: uppercase;
        color: white;
    }
    
    .authorization-checkbox {
        margin-top: -113px;
        margin-bottom: 63px;
        margin-left: 18px;
        display: flex;
        flex-direction: row;
    }

    .checkbox-label {
        padding-right: 72px;
        margin-left: 0px;
        font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 23px;
        color: white;
    }
    
    .types-background{
        margin-top: 84px;
    }

    .types {
        width: 375px;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .types-control {
        font-family: 'Yeseva One', 'Times New Roman', Times, serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;
        color: #181818;
        padding-bottom: 13px;
        z-index: 1;
    }
    
    .repairs {
        width: 375px;
        height: 1451px;
        margin-left: 2px;
        margin-top: 40px;
        padding: 0 18px;
        display: flex;
        flex-direction: column;
    }

    .repairs-img {
        width: 340px;
        height: 365px;
    }
    .repairs-info {
        margin-left: 0;
        margin-top: -1244px;
        padding: 0 18px;
        width: 375px;
        height: 1327px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .repairs-info_item {
        width: 270px;
        height: 241px;
        margin: 0;
    }
    
    .repairs-list {
        margin-bottom: -10px;
        padding: 21px 31px 47px;
        background-color: #FFFFFF;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
        font-family: 'Yeseva One', 'Times New Roman', Times, serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 21px;
        color: #363636;
        list-style-position: inside;
    }
    
    .repairs-list_item {
        font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 22px;
        color: #959595;
    }
    
    .prices_item {
        width: 228px;
        height: 54px;
        background: #E3B873;
        box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
        font-family: 'Yeseva One', 'Times New Roman', Times, serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 21px;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 12px 17px;
    }
    
    .request {
        display: none;
    }
    
    .fantasies-background {
        background-image: none;
        background-size: cover;
    }
    
    .fantasies {
        margin-top: 95px;
        height: 322px;
        display: flex;
        flex-direction: column;
        text-align: center;
        position: relative;
    }
    
    .fantasies_part1 {
        z-index: 1;
        width: 587px;
    }
    
    .title-fantasies {
        width: 375px;
        margin-top: 0px;
        margin-left: 0px;
        font-family: 'Yeseva One', 'Times New Roman', Times, serif;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 30px;
        text-transform: uppercase;
        color: #E3B873;
    }
    
    .fantasies-list {
        display: none;
    }
    
    .fantasies-list_item {
        display: none;
    }

    .fantasies-img_part1 {
        display: flex;
        width: 340px;
        height: 242px;
        margin: -144px auto;
        background-image: url(./images/fantasies.png);
        background-size: cover;
    }
    
    .fantasies-img_part2 {
        display: none;
    }
    
    .fantasies-img_item {
        display: none;
    }

    .clients {
        display: none;
    }

    .questions-background {
        background-color:#131313;
    }

    .questions {
        padding-left: 18px;
        width: 375px;
        height: 690px;
        background-color: none;
        margin-top: -121px;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    
    .questions_item {
        margin: 0;
        padding: 173px 0 52px;
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    
    .questions-box {
        width: 375px;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .questions-info {
        padding-bottom: 63px;
        font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 21px;
        color: rgba(255, 255, 255, 0.5);
    }
    
    .questions-info_item {
        width: 340px;
        font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 23px;
        border: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.7);
        background-color: rgb(0, 0, 0, 0);
    }
    
    .questions-info_item::placeholder {
        color: #FFFFFF;
    }
    
    .questions-info1 {
        margin-left: 0px;
        margin-top: 0px;
        font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 21px;
        color: rgba(255, 255, 255, 0.5);
    }
    
    .questions-info_item1 {
        width: 340px;
        font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 23px;
        border: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.7);
        background-color: rgb(0, 0, 0, 0);
    }
    
    .questions-info_item1::placeholder {
        color: #FFFFFF;
    }
    
    .questions-checkbox {
        margin-top: 24px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .quest {
        padding: 0;
        padding-right: 74px;
        margin-left: 0px;
        white-space: nowrap;
        font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 23px;
        color: #FFFFFF;
    }
    
    .questions-button {
        margin-top: 67px;
        margin-left: 0px;
        width: 340px;
        height: 51px;
        background: #E3B873;
        box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
        outline: 0;
        border: 0;
        padding: 18px 144px;
        text-transform: uppercase;
        color: white;  
    }
    
    .map-background {
        background-image: none;
        background-color: #131313;
        background-size: cover;
    }
    
    .map {
        height: 525px;
        margin-top: -1px;
        display: flex;
        flex-direction: column;
    }
    
    .map-text {
        z-index: 1;
        margin-top: 342px;
        font-family: 'Yeseva One', 'Times New Roman', Times, serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        text-transform: uppercase;
        color: #E3B873;
    }
    
    .contact-links {
        margin-top: 26px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .contact-img {
        width: 17px;
        height: 17px;
    }

    .contact-links_item1 {
        z-index: 1;
        margin-right: 21px;
        margin-bottom: 49px;
        padding: 11px 11px;
        width: 39px;
        height: 39px;
        border-radius: 50%;
        background: #E3B873;
    }
    
    .contact-links_item2 {
        z-index: 1;
        margin-right: 21px;
        margin-bottom: 49px;
        padding: 11px;
        width: 39px;
        height: 39px;
        border-radius: 50%;
        background: #E3B873;
    }
    
    .map-frame {
        width: 340px;
        height: 242px;
        margin-left: 18px;
        margin-top: -475px;
    }
    
    footer {
        background-color: #131313;
    }
    
    .footer-content {
        margin-top: -1px;
        font-size: 11px;
        line-height: 15px;
        display: flex;
        justify-content: space-between;
        height: 55px;
        align-items: center;
    }
    
}